	.buildtest.sh
	.travis.yml
	CHANGELOG
	LICENSE
	Makefile
	Makefile.am
	Makefile.in
	README
	README.config
	README.devel
	README.md
	README.netmap
	TODOS
	aclocal.m4
	apps/
	compile
	config.guess
	config.h
	config.h.in
	config.log
	config.status
	config.sub
	config/
	configure
	configure.ac
	docs/
	dpdk-17.08/
	dpdk/
	install-sh
	io_engine/
	missing
	mtcp/
	stamp-h1
	util/
	*.o
